Repository starmarek/organize-me: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, eslint, prettier

.pre-commit-config.yaml:

repos:
    # - repo: https://github.com/jumanjihouse/pre-commit-hooks
    #   rev: 2.1.2
    #   hooks:
    #       - id: shellcheck
    #         name: shellcheck
    - repo: local
      hooks:
          - id: black
            name: black
            stages: [commit]
            entry: pipenv run black  --check
            language: system
            types: [python]
          - id: shfmt
            name: shfmt
            stages: [commit]
            entry: shfmt -i 4 -ci -d
            language: system
            types: [shell]
          - id: flake8
            name: flake8
            stages: [commit]
            entry: pipenv run flake8
            language: system
            types: [python]
          - id: isort
            name: isort
            stages: [commit]
            entry: pipenv run isort --check
            language: system
            types: [python]
          - id: eslint
            name: eslint
            stages: [commit]
            entry: yarn eslint
            language: system
            types_or: [javascript, vue]
          - id: prettier
            name: prettier
            stages: [commit]
            entry: yarn prettier -c
            language: system
            types_or: [javascript, vue, yaml]

add schellcheck to pre-commit + install pre-commit in admin script
  .pre-commit-config.yaml
  scripts/admin/admin.py
Due: black, flake8, isort, prettier

update README
  README.md
  scripts/admin/admin.py
Due: black, flake8, isort

removed unnecessary components
  src/assets/logo-django.png
  src/assets/logo-vue.png
  src/components/Home.vue
  src/components/Messages.vue
  src/components/layout/Navbar.vue
  src/router.js
  src/services/messageService.js
  src/store/index.js
  src/store/modules/messages.js
Due: eslint, prettier

add authService and axiosHeaders actions in auth store
  src/main.js
  src/services/authService.js
  src/store/modules/auth.js
Due: eslint, prettier

add few auth notificatios
  src/components/layout/Login.vue
  src/main.js
  src/store/modules/auth.js
Due: eslint, prettier

change router navigation guard handling
  src/router.js
Due: eslint, prettier

fix bug with axios api instance export
  backend/settings.py
  src/services/api.js
  src/services/messageService.js
  src/store/modules/auth.js
Due: black, flake8, isort, eslint, prettier

add basic vue UT config
  .eslintrc.js
  babel.config.js
  jest.config.js
  package.json
  src/tests/unit/Login.spec.js
  src/tests/unit/setup.js
  yarn.lock
Due: eslint, prettier

create user_serializer and add user to jwt token
  Pipfile
  Pipfile.lock
  backend/__init__.py
  backend/api/models.py
  backend/api/serializers/auth_serializer.py
  backend/api/serializers/user_serializer.py
  backend/api/tests.py
  backend/api/tests/__init__.py
  backend/api/tests/test_auth.py
  backend/api/views.py
  backend/api/views/auth_view.py
  backend/settings.py
  backend/urls.py
  src/components/Login.vue
  src/router.js
  src/store/modules/auth.js
Due: black, flake8, isort, eslint, prettier

add proper logout func to aut store
  src/services/authService.js
  src/store/modules/auth.js
Due: eslint, prettier

add gitlb-ci for django ut
  .gitlab-ci.yml
  .template.env
  docker-compose.yml
Due: prettier
